{% load static %}
{% block content %}
{% include 'header.html' %}
<div class="bg-dark p-5">
    <form action="userlogin" method="POST">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-6">
                <input type="email" class="form-control bg-light border-0 px-4" name="uemail" placeholder="Your Email" style="height: 55px;">
            </div>
            <div class="col-6">
                <input type="password" class="form-control bg-light border-0 px-4" name="upassword" placeholder="Password" style="height: 55px;">
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit">LOGIN</button>
            </div>
        </div>
    </form>
</div>
{% include 'footer.html' %}
{% endblock %}