{% load static %}
{% block content %}
{% include 'header.html' %}
<div class="bg-dark p-5">
    <form action="udetails" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-6">
                <input type="number" class="form-control bg-light border-0 px-4"  name="weight" placeholder="Your weight" style="height: 55px; ">
            </div>
            <div class="col-6">
                <input type="number" class="form-control bg-light border-0 px-4" name="height" placeholder="Your height" style="height: 55px;">
            </div>
            <div class="col-12">
                <input type="number" class="form-control bg-light border-0 px-4" name="age" placeholder="Your age" style="height: 55px;">
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit">submit</button>
            </div>
        </div>
    </form>
</div>
{% include 'footer.html' %}
{% endblock %}